*{
  margin: 0;
}

.App {
  background-color: #f3f3f3;
  height:100%;
}


.app__headerImage{
  background-color: #fcfcfc;
  width: 100%;
  height: 30px;
  border-bottom:1x solid lightgray;
  object-fit:contain;
}
